################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
releases/
rhscz.pfx
rhscz.pvk
sign.sgui
output/
steamcloud/steam.old
steamcloud/steamcloud.aps
output-tmp/
steamcloud/Resource.aps
steamcloud/rcdata.aps
steam-worker/Resource.aps
steam-worker.exe