################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
releases/
rhscz.pfx
rhscz.pvk
sign.sgui
output/
steamcloud/steam.old
steamcloud/steamcloud.aps
/output-tmp
/steam-worker.exe
/steamcloud/steam_x64.aps
/steamcloud/steam_x86.aps
